#server/.env

PORT=.......
HOST=.......
NODE_ENV=.......

CLIENT_URL=.......

DATABASE_URL=.......

UPSTASH_REDIS_REST_URL=.......
UPSTASH_REDIS_REST_TOKEN=.......

CLOUDINARY_CLOUD_NAME=.......
CLOUDINARY_API_KEY=.......
CLOUDINARY_API_SECRET=.......

ACCESS_TOKEN_SECRET=.......

ACCESS_TOKEN_EXPIRY_MINUTES=.......
REFRESH_TOKEN_EXPIRY_MINUTES=.......

DB_ENCRYPTION_KEY=.......